# -----------------------------------
# PYTHON
# -----------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------------
# VENV / CONDA
# -----------------------------------

venv/
.env/
.venv/

# -----------------------------------
# ENV VARIABLES
# -----------------------------------

.env

# -----------------------------------
# UPLOADS
# -----------------------------------

uploads/

# -----------------------------------
# MODELS
# -----------------------------------

*.h5
*.keras
*.pt
*.pth

# -----------------------------------
# DATABASE
# -----------------------------------

*.db
*.sqlite3

# -----------------------------------
# IDE
# -----------------------------------

.vscode/
.idea/

# -----------------------------------
# OS FILES
# -----------------------------------

.DS_Store
Thumbs.db

# -----------------------------------
# LOGS
# -----------------------------------

*.log

# -----------------------------------
# JUPYTER
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# NODE
# -----------------------------------

node_modules/

# -----------------------------------
# BUILD FILES
# -----------------------------------

dist/
build/